<div class="cover-container d-flex w-100 h-90 p-3 mx-auto flex-column">
  <header></header>
  <main role="main" class="inner cover">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="form-signin">
      <h1 class="mb-3 font-weight-normal">Please log in</h1>

      <div class="form-group">
        <label for="phone" class="sr-only">Phone Number</label>
        <input type="phone" id="phone" class="form-control" formControlName="phone" placeholder="Phone Number" required="" autofocus="">
      </div>

      <div class="form-group">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password" required="">
      </div>

      <div class="form-group">
        <button class="btn btn-lg btn-secondary btn-block mt-auto" type="submit">Log in</button>
      </div>

    </form>
  </main>

  <footer class="mastfoot mt-5">
    <div class="inner">
      <p>Website for <a href="http://web.engr.oregonstate.edu/~scaffidc/courses/cs562/index.shtml?cb=1547975610290">CS562</a>,
        by <a href="https://github.com/lirance/errands">@Lirance and Brian</a>.</p>
    </div>
  </footer>

</div>
