<div class="cover-container d-flex w-100 h-90 p-3 mx-auto flex-column">
<header></header>
  <main role="main" class="inner cover">
    <form class="form-signin">
      <h1 class="mb-3 font-weight-normal">Please log in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-secondary btn-block mt-auto" type="submit">Log in</button>
    </form>
  </main>

  <footer class="mastfoot mt-5">
      <div class="inner">
        <p>Website for <a href="http://web.engr.oregonstate.edu/~scaffidc/courses/cs562/index.shtml?cb=1547975610290">CS562</a>, by <a href="https://github.com/lirance/errands">@Lirance and Brian</a>.</p>
      </div>
  </footer>
  
</div>
