<div class="cover-container d-flex w-100 h-90 p-3 mx-auto flex-column mb-auto">
  <main role="main" class="inner cover">
      <form class="form-signup mt-auto">
        <h1 class="mb-3 font-weight-normal">Sign Up</h1>
        <label for="inputFirstName" class="sr-only">Enter your first name</label>
        <input type="name" id="inputFirstName" class="form-control" placeholder="Enter your first name" required="" autofocus="">
        
        <label for="inputLastName" class="sr-only">Enter your last name</label>
        <input type="name" id="inputLastName" class="form-control" placeholder="Enter your last name" required="" autofocus="">
        
        <label for="inputEmail" class="sr-only">Enter your email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Enter your email address" required="" autofocus="">
        
        <label for="inputPassword" class="sr-only">Enter your password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Enter your password" required="">
        
        <label for="inputConfirmPassword" class="sr-only">Confirm your password</label>
        <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm your password" required="">
        
        <button class="btn btn-lg btn-secondary btn-block mt-5" type="submit">Sign up</button>
      </form>  
    </main>
  
    <footer class="mastfoot mt-5">
        <div class="inner">
          <p>Website for <a href="http://web.engr.oregonstate.edu/~scaffidc/courses/cs562/index.shtml?cb=1547975610290">CS562</a>, by <a href="https://github.com/lirance/errands">@Lirance and Brian</a>.</p>
        </div>
    </footer>
    
  </div>