/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Base structure
 */

.cover-container {
  max-width: 42em;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  margin-top: 20%;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.masthead {
  margin-bottom: 2rem;
}
/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
