 <div class="cover-container d-flex w-100 h-90 p-3 mx-auto flex-column mt-auto">
  
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Get someone run your errands.</h1><br>
    <p class="lead">Errands is an app that people can post an order contains things they want to buy and other people can take the order and earn money from it.</p><br>
    <p class="lead">
      <button routerLink="/login" class="btn btn-lg btn-secondary mr-5">Log in</button>
      <button routerLink="/signup" class="btn btn-lg btn-secondary">Sign up</button>
    </p>
  </main>

  <footer class="mastfoot mt-5">
    <div class="inner">
      <p>Website for <a href="http://web.engr.oregonstate.edu/~scaffidc/courses/cs562/index.shtml?cb=1547975610290">CS562</a>, by <a href="https://github.com/lirance/errands">@Lirance and Brian</a>.</p>
    </div>
  </footer>

</div>