<div class="cover-container d-flex w-100 h-75 p-3 mx-auto flex-column">

    <main role="main" class="inner cover">
        <h1 class="cover-heading">About Us</h1><br>
        <p class="lead">Content need to add</p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Website for <a href="http://web.engr.oregonstate.edu/~scaffidc/courses/cs562/index.shtml?cb=1547975610290">CS562</a>, by <a href="https://github.com/lirance/errands">@Lirance and Brian</a>.</p>
        </div>
    </footer>
</div>