<nav class="navbar navbar-expand-lg navbar-light bg-light h-10" style="background-color: #f0b07b;">
  <div class="navcontainer">
    <div class="row">
      <a class="navbar-brand " routerLink="">Errands</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard', {outlets: {'aux': ['dashhome']}}]">Home<span
              class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard', {outlets: {'aux': ['createorder']}}]">Create Order</a>
          </li>
          <li classs="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard', {outlets: {'aux': ['myorder']}}]">My order</a>
          </li>

        </ul>

        <div class="nav-item dropdown">
          <button *ngIf="currentUser" class=" btn dropdown-toggle text-primary" id="dropdownMenuButton" type="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{currentUser.username}}
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item text-dark" [routerLink]="['/dashboard', {outlets: {'aux': ['profile']}}]">Edit Profile</a>
            <a class="dropdown-item text-dark" (click)="userLogout()">Log Out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="jumbotron h-90">
  <div class="container">
    <router-outlet name="aux"></router-outlet>
  </div>
</div>
