<div *ngIf='orderDetail' class="text-center text-dark">
  <div class="card text-center">
    <div class="card-header text-muted">
      <p>Order ID:  {{orderDetail.orderid}}</p>
    </div>

    <div class="card-body">
      <div class="col-center-block text-center">
        <dl class="row text-left">
          <dt class="col-sm-3">Item list:</dt>
          <dd class="col-sm-9"><p>{{orderDetail.itemlist}}</p>
          </dd>
          <dt class="col-sm-3">Store address:</dt>
          <dd class="col-sm-9"><p>{{orderDetail.storeadd}}</p></dd>

          <dt class="col-sm-3">Destination:</dt>
          <dd class="col-sm-9"><p>{{orderDetail.destination}}</p></dd>

          <dt class="col-sm-3">Time limit:</dt>
          <dd class="col-sm-9"><p>{{orderDetail.timelimit}}</p></dd>

          <dt class="col-sm-3">Tips:</dt>
          <dd class="col-sm-9"><p>{{orderDetail.tip}}</p></dd>

          <dt class="col-sm-3">Poster:</dt>
          <dd class="col-sm-9">
            <a [routerLink]="['/dashboard', {outlets: {'aux': ['publicprofile', orderDetail.maker.userid]}}]">{{orderDetail.maker.username}}</a>
          </dd>

          <dt class="col-sm-3">State:</dt>
          <dd class="col-sm-9"><p>{{orderDetail.state}}</p></dd>

          <dt class="col-sm-3">Accepter:</dt>
          <dd class="col-sm-9">
            <a *ngIf="orderDetail.recipient != null" [routerLink]="['/dashboard', {outlets: {'aux': ['publicprofile', orderDetail.recipient.userid]}}]">{{orderDetail.recipient.username}}</a>
            <p *ngIf="orderDetail.recipient == null">Haven't accepted by other user!</p>
          </dd>
        </dl>
      </div>

      <div class="button-block">
        <div *ngIf="orderDetail.maker != null && orderDetail.recipient !=null
        && (orderDetail.maker.userid == currentUserId || orderDetail.recipient.userid == currentUserId)" class="text-center row">
          <div class="text-center col">
            <button type="button" class="btn btn-primary" (click)="complete()">
              Complete
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer text-muted">
      <!---->
      <button type="button" class="btn btn-primary" (click)="backtolast()">Back</button>
    </div>

  </div>
</div>
